@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;


}

header .logo h1 {
    margin: 0;
}
.logo{
    display: flex ;
    align-items: center;
    
}

.logo img {
    margin-right: 10px; 
}
header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
}

header .search input {
    height: 28px;
    font-size: 20px;
    border: 1px ;
    background-color: #EDEDF0;
    width: 500px;
    border-radius: 99pc;
    padding-left: 45px;
}


.container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

aside {
    width: 20%;

    padding: 20px;
   
}

aside .category-list, aside .filter {
    margin-bottom: 20px;
}

aside h2 {
    margin-top: 0;
    font-size: 16px;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    margin-bottom: 10px;
    
}


.segment-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    
    
}

.show {
    display: flex;
    align-items: center;
   
}

.but-img {
    display: flex;
    align-items: center;
   
}
.but-img button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: #2264D1;
    border-radius: 5px;
    transition: 1s;
}



.product-grid {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}



.product {
    background-color: #fff;
    padding: 10px;
    width: 259px;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.product::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

   
    opacity: 0;
    transition: opacity 0.3s ease;
}

.product:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.product:hover::after {
    opacity: 1;
}


.product h3 {
   
    font-size: 16px;
    margin-top: -6px;
    font-family: "Inter", sans-serif;
    font-weight: 300;

}
.product h2{
    font-size: 24px;
    padding-top: 25px;
    font-family: "Inter", sans-serif;
    font-weight: 600;

}
.text-product{
    margin-top: -6px;
    font-size: 14px;
    color: #787885;
    font-family: "Inter", sans-serif;
    font-weight: 200;

}

.product button {
    background-color: #fff;
    color: #2264d1;
    border: 1px solid #9DC2FF;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 88px;
    height: 38  px;
    font-size: 14px;
    padding-left: 27px;
    margin-top: 5px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    
}



.top-categories {
    display: flex;
    justify-content: center;
    font-size: 10px;
    align-items: center; 
    text-align: center; 
    gap: 20px;
    

}
.cat-clothes{
    display: inline;
    width: 144px;
    height: 56px;
}


.search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    justify-content: space-between;

}


.search input {
    width: 300px;
    padding: 10px 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
   
   
}

.search .start-image, .search .end-image {
    position: absolute;
    width: 30px;
    height: 30px;
}

.search .start-image {
    left: 10px;
}

.search .end-image {
    right: 10px;
}

.nav{
    display: flex;
}
.tags{
    display: flex;
    gap: 10px;
    
    
    align-items: center;
    margin: 20px;
    
}
.cat-sh{
    display: flex;
    height: 40px;
}
.cat-sh li{
    margin-top: 3px;
    font-size: 16px;
}

.img-sh{
    width: 24px;
    height: 24px;

}
.all-cat{
    display: flex;
}
.all-text{
    display: flow;
}
.img-sh-all{
    width: 24px;
    height: 24px;
    margin-top: 8px
}
.all-cat p{
    font-size: 14px;
    margin-top: -10px;
}
.cat-another{
    margin-left: 10px;
    margin-top: -20px;
}
.star-button{
    display: flex;
    justify-content: space-between;
}
.star{
    width: 16px;
    height: 16px;
}
.heartbutton .heart{
    position: absolute;
    margin-top:10px;
    padding-left: 5px;
}
.star-img{
    display: flex;
    margin-top: 15px;
    margin-left: -5px;
}
.points{
    font-size: 14px;
    margin-right: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding-top: 2px;
   
    
}

.cat-clothes p{
    font-size: 10px;
}
.nav-button{
    width: 104px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid #9DC2FF;
    background-color: #fff;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    color: #2264D1;

    
}
.nav{
    gap: 15px;
}
.show button{
    width: 85px;
    height: 30px;
    border: none;
    background-color: #EBF2FF;
    font-size: 14px;
    border-radius: 2px;
    color: #787885;
    font-family: "Inter", sans-serif;
   
}


.show button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: #2264D1;
    border-radius: 5px;
    transition: 1s;
}


.button-with-image{
    width: 68px;
    height: 30px;
    border: none;
    border-radius: 2px;
    background-color: #EBF2FF;
   
}



.filter{
    background-color: #F7F7FA;
    border-radius: 4px;
    width: 304px;
    height: 424px;

}

.years li{
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}
.year{
    padding-top: 15px;
    padding-left: 7px;
    font-family: "Inter", sans-serif;
    font-weight: 500;

}
.years{

    padding-left: 7px;
   
}

.footer-content{
    display: flex;
    gap: 15px;
    align-items: center; 
    text-align: center; 
    justify-content: center;
    margin-top: 30px;
}


.footer-blocks p{
    display: flex;
    width: 361px;
   
    height: 156px;

}

.img-footer{
    width: 80px;
    height: 80px;
   
  

}

.footer-1{
    width: 361px;
    height: 156px;
    background-color: #EDEDF0;
    
}
.footer-1 h2{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: -10px;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
}
.footer-2 h2{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: -10px;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
}
.footer-3 h2{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: -10px;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
}

.footer-2{
    width: 361px;
    height: 156px;
    background-color: #EDEDF0;
}
.footer-3{
    width: 361px;
    height: 156px;
    background-color: #EDEDF0;
}
.footer-1 p{
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-top: -10px;
    color: #5A5B6A;
    font-family: "Quicksand", sans-serif;
    font-weight: 200;
}
.footer-2 p{
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-top: -10px;
    color: #5A5B6A;
    font-family: "Quicksand", sans-serif;
    font-weight: 200;
}
.footer-3 p{
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-top: -10px;
    color: #5A5B6A;
    font-family: "Quicksand", sans-serif;
    font-weight: 200;
}


.tags-1{
    width: 160px;
    height: 28px;
    background-color: #EDEDF0;
    border-radius: 99px;
}
.tags-style{
    display: flex;
    justify-content: center;
    padding-top: 5px;
    font-size: 14px;
    color: #787885;
}
.tags-2{
    width: 104px;
    height: 28px;
    background-color: #EDEDF0;
    border-radius: 99px;
}
.tags-3{
    width: 74px;
    height: 28px;
    background-color: #EDEDF0;
    border-radius: 99px;
}
.tags-4{
    width: 120px;
    height: 28px;
    background-color: #EDEDF0;
    border-radius: 99px;
}
.tags-5{
    width: 122px;
    height: 28px;
    background-color:  #EDEDF0;
    border-radius: 99px;
}
.tags-6{
    width: 152px;
    height: 28px;
    background-color: #EDEDF0;
    border-radius: 99px;
}
.related{
    font-size: 14px;
}
.top-categories{
    color: #787885;
}
.computers p{
    font-size: 14px;
    margin-top: -12px;
}
.img-3{
    margin-top: 8px;
}
.block{
    margin-top: 15px;
}
.all-text h2{
    font-family: "Inter", sans-serif;
    font-weight: 300;
}
.all-text p{
    color: #787885;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}
.cat-sh li{
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
.cat-sh p{
    color: #787885;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

.filter-chevron{
    display: flex;
    gap: 98px;
    align-items: center;
}
.filter-chevron img{
    height: 24px;
    width: 24px;
    
}



.price-text{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.price-text1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price-4{
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}
.discount{
    width: 70px;
    height: 20px;
    background-color: #ECF7ED;
    border-radius: 5px;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    color: #37833B;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}
.deal{
    width: 70px;
    height: 20px;
    background-color: #FDEDF2;
    border-radius: 5px;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    color: #C23564;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}
