body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;


}

header .logo h1 {
    margin: 0;
}
.logo{
    display: flex ;
    align-items: center;
    
}

.logo img {
    margin-right: 10px; 
}
header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
}

header .search input {
    height: 28px;
    font-size: 20px;
    border: 1px ;
    background-color: #EDEDF0;
    width: 500px;
    border-radius: 99pc;
    padding-left: 45px;
}


.container {
    display: flex;
    padding: 20px;
}

aside {
    width: 20%;

    padding: 20px;
   
}

aside .category-list, aside .filter {
    margin-bottom: 20px;
}

aside h2 {
    margin-top: 0;
    font-size: 16px;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    margin-bottom: 10px;
    
}

main {
    width: 80%;
    padding-left: 20px;
}
.segment-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    
    
}

.show {
    display: flex;
    align-items: center;
   
}

.but-img {
    display: flex;
    align-items: center;
   
}


.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product {

    padding: 20px;
   
    width: 259px;
    height: 472px;
    box-sizing: border-box;
}



.product h3 {
   
    font-size: 16px;
    margin-top: -6px;
}
.product h2{
    font-size: 24px;
    padding-top: 25px;

}
.text-product{
    margin-top: -6px;
    font-size: 14px;
}

.product button {
    background-color: #fff;
    color: #2264d1;
    border: 1px solid #2264d1;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 88px;
    height: 32px;
    font-size: 14px;
    padding-left: 27px;
    margin-top: 5px;

    
}



.top-categories {
    display: flex;
    justify-content: center;
    font-size: 10px;
    align-items: center; 
    text-align: center; 
    gap: 20px;
    

}
.cat-clothes{
    display: inline;
    width: 144px;
    height: 56px;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    justify-content: space-between;

}


.search input {
    width: 300px;
    padding: 10px 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
   
   
}

.search .start-image, .search .end-image {
    position: absolute;
    width: 30px;
    height: 30px;
}

.search .start-image {
    left: 10px;
}

.search .end-image {
    right: 10px;
}

.nav{
    display: flex;
}
.tags{
    display: flex;
    gap: 10px;
    
    
    align-items: center;
    margin: 20px;
    
}
.cat-sh{
    display: flex;
    height: 40px;
}
.cat-sh li{
    margin-top: 3px;
    font-size: 16px;
}

.img-sh{
    width: 24px;
    height: 24px;

}
.all-cat{
    display: flex;
}
.all-text{
    display: flow;
}
.img-sh-all{
    width: 24px;
    height: 24px;
    margin-top: 8px
}
.all-cat p{
    font-size: 14px;
    margin-top: -10px;
}
.cat-another{
    margin-left: 10px;
    margin-top: -20px;
}
.star-button{
    display: flex;
    justify-content: space-between;
}
.star{
    width: 16px;
    height: 16px;
}
.heartbutton .heart{
    position: absolute;
    margin-top: 7px;
    padding-left: 5px;
}
.star-img{
    display: flex;
    margin-top: 12px;
    margin-left: -5px;
}
.points{
    font-size: 14px;
    
}

.cat-clothes p{
    font-size: 10px;
}
.nav-button{
    width: 104px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid #2264d1;
    background-color: #fff;
}
.nav{
    gap: 15px;
}
.show button{
    width: 85px;
    height: 36px;
    border: none;
    background-color: #EBF2FF;
    font-size: 14px;
    border-radius: 2px;
}
.button-with-image{
    width: 68px;
    height: 36px;
    border: none;
    border-radius: 2px;
}

.tags1-style{
    height: 32px;
    background-color: #EDEDF0;
    font-size: 14px;
    border-radius: 99px;
    width: 160px;
    
}
.tags2-style{
    height: 32px;
    background-color: #EDEDF0;
    font-size: 14px;
    border-radius: 99px;
    width: 104px;
}
.tags3-style{
    height: 32px;
    background-color: #EDEDF0;
    font-size: 14px;
    border-radius: 99px;
    width: 74px;
}
.tags4-style{
    height: 32px;
    background-color: #EDEDF0;
    font-size: 14px;
    border-radius: 99px;
    width: 120px;
}
.tags5-style{
    height: 32px;
    background-color: #EDEDF0;
    font-size: 14px;
    border-radius: 99px;
    width: 122px;
}
.tags6-style{
    height: 32px;
    background-color: #EDEDF0;
    font-size: 14px;
    border-radius: 99px;
    width: 152px;
}

.filter{
    background-color: #F7F7FA;
    border-radius: 4px;
}
.year{
    padding-top: 7px;
    padding-left: 7px;
}
.years{
    padding-top: 10px;
    padding-left: 7px;
    padding-bottom: 10px;
}

.footer-content{
    display: flex;
   
    gap: 15px;
    align-items: center; 
    text-align: center; 
    
    
}


.footer-blocks p{
    display: flex;
    width: 361px;
   
    height: 156px;

}

.img-footer{
    width: 80px;
    height: 80px;
   
  

}

.footer-1{
    width: 361px;
    height: 156px;
    background-color: #EDEDF0;
    
}
.footer-1 h2{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: -10px;
}
.footer-2 h2{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: -10px;
}
.footer-3 h2{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: -10px;
}
.footer-2{
    width: 361px;
    height: 156px;
    background-color: #EDEDF0;
}
.footer-3{
    width: 361px;
    height: 156px;
    background-color: #EDEDF0;
}
.footer-1 p{
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-top: -10px;
}
.footer-2 p{
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-top: -10px;
}
.footer-3 p{
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-top: -10px;
}
