@media only screen and (max-width: 700px) {
    header {

        padding: 10px;
    }

    header .logo h1 {
        font-size: 15px;
    }

    header .search input {
        display: none;


    }

    main {
        margin-left: 0;
    }

    .search .end-image {
        display: none;
    }

    .search .start-image {
        display: none;
    }

    .nav-button {
        width: 50px;
        height: 20px;
        border-radius: 5px;
        font-size: 9px;
        border: 1px solid #9DC2FF;
        background-color: #fff;
        font-family: "Quicksand", sans-serif;
        font-weight: 700;
        color: #2264D1;

    }


    .categories {
        display: grid;
        justify-content: center;
        font-size: 8px;
        align-items: center;
        text-align: center;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        padding: 10px;
    }

    .top-categories img {
        width: 15px;
        height: 15px;
    }

    .logo img {
        width: 30px;
    }

    .filter {
        display: none;
    }

    .category-list {
        display: none;
    }

    .container {
        flex-direction: column;
        padding-top: 10px;
    }

    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
        justify-items: center;

    }


    .aside {
        display: none;
    }



    .footer-content {
        flex-direction: column;
        margin-top: 20px;
    }

    .footer-blocks {
        width: 100%;
    }

    .show button {
        width: 50px;
        height: 30px;
        border: none;
        background-color: #EBF2FF;
        font-size: 9px;
        border-radius: 2px;
        color: #787885;
        font-family: "Inter", sans-serif;
    }

    .product {
        background-color: #fff;
        padding: 10px;
        width: 150px;
        border-radius: 5px;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        transition: box-shadow 0.3s ease, transform 0.3s ease;
        height: 270px;

    }

    .button-with-image {
        width: 50px;
        height: 30px;
        border: none;
        border-radius: 2px;
        background-color: #EBF2FF;
    }

    .button-with-image img {
        width: 20px;
        height: 20px;

    }

    .tags-style {
        display: flex;
        justify-content: center;
        padding: 8px;
        font-size: 10px;
        color: #787885;


    }

    .cat1 p {
        margin-top: 4px;
        margin-left: 0;
        margin-bottom: 0;
        margin-right: 0;
        font-size: 10px;
    }

    .tags {
        display: grid;
        gap: 10px;
        align-items: center;
        margin: 20px;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;

    }

    .img-grid {
        width: 120px;
    }

    .star {
        width: 10px;
        height: 10px;
    }

    .product button {
        background-color: #fff;
        color: #2264d1;
        border: 1px solid #9DC2FF;
        padding-left: 20px;
        border-radius: 4px;
        cursor: pointer;
        width: 50px;

        font-size: 8px;



        font-family: "Inter", sans-serif;
        font-weight: 300;
    }

    .heartbutton .heart {
        position: absolute;
        width: 15px;
        height: 15px;
        margin-top: 14px;
    }

    .points {
        font-size: 8px;
        margin-right: 0px;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: normal;
        padding-top: 8px;
    }

    .star-img {
        display: flex;
        margin-top: 15px;
        margin-left: 0px;
    }

    .product h3 {
        font-size: 10px;
        margin-top: -6px;
        font-family: "Inter", sans-serif;
        font-weight: 300;
    }

    .product h4 {
        font-size: 13px;

        font-family: "Inter", sans-serif;
        font-weight: 600;
    }

    .tea {
        padding-top: 12px;
    }

    .vintage {
        padding-top: 25px;
    }

    .boots {
        padding-top: 25px;
    }

    .cat {
        padding-top: 25px;
    }

    .items {
        padding-top: 12px;
    }

    .text-product {
        margin-top: -6px;
        font-size: 8px;
        color: #787885;
        font-family: "Inter", sans-serif;
        font-weight: 200;
    }

    .price-4 {
        font-size: 13px;
        font-family: "Inter", sans-serif;
        font-weight: 600;
    }

    .discount {
        width: 50px;
        height: 15px;
        background-color: #ECF7ED;
        border-radius: 5px;
        font-size: 8px;
        font-family: "Inter", sans-serif;
        font-weight: 200;
        color: #37833B;
        display: flex;
        justify-content: center;
        padding-top: 5px;
    }

    .div-4 {
        margin-top: 27px;
    }

    .price-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -2px;
    }

    .related {
        display: none;
    }

    .tags-1 {
        width: 110px;
        height: 28px;
        background-color: #EDEDF0;
        border-radius: 99px;
    }

    .tags-2 {
        width: 110px;
        height: 28px;
        background-color: #EDEDF0;
        border-radius: 99px;
    }

    .tags-3 {
        width: 110px;
        height: 28px;
        background-color: #EDEDF0;
        border-radius: 99px;
    }

    .tags-4 {
        width: 110px;
        height: 28px;
        background-color: #EDEDF0;
        border-radius: 99px;
    }

    .tags-5 {
        width: 110px;
        height: 28px;
        background-color: #EDEDF0;
        border-radius: 99px;
    }

    .tags-6 {
        width: 110px;
        height: 28px;
        background-color: #EDEDF0;
        border-radius: 99px;
    }

    .nav {
        gap: 15px;
        align-items: center;
    }

    .nav img {
        width: 30px;
        height: 30px;
    }

    .div-5 {
        margin-top: 0px;
    }

    .div-4-text {
        margin-top: 22px;
    }

    .div-3 {
        margin-top: 18px;
    }

    .div-4 {
        margin-top: 17px;
    }

    .div-5-text {
        margin-top: 37px;
    }

    .pencil {
        margin-top: -12px;
    }

    .div-7 {
        margin-top: 20px;
    }

    .make-up {
        margin-top: 22px;
    }

    .price-text1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0px;
    }

    .div-8 {
        margin-top: 12px;
    }

    .deal {
        width: 50px;
        height: 15px;
        background-color: #FDEDF2;
        border-radius: 5px;
        font-size: 8px;
        font-family: "Inter", sans-serif;
        font-weight: 200;
        color: #C23564;
        display: flex;
        justify-content: center;
        padding-top: 5px;
    }

    .div-8 {
        margin-top: 20px;
    }

    .vintage {
        margin-top: 0px;
    }

    .boots {
        margin-top: -5px;
    }

    .cat {
        margin-top: -5px;
    }

    .tea {
        margin-top: -5px;
    }

    .items {
        margin-top: -5px;
    }

    .trousers {
        margin-top: -5px;
    }

    .pencil {
        margin-top: -18px;
    }

    .set {
        margin-top: -5px;
    }

    .tree {
        margin-top: -5px;
    }

    .make-up {
        margin-top: 20px;
    }

    .list-view .product img {
        width: 120px;

    }

    .list-view .product {
        display: grid;

        align-items: center;
        margin-bottom: 10px;

    }


    .notification {
        width: 14px;
        height: 14px;
        font-size: 12px;
        color: #fff;
        background-color: #F44336;
        border-radius: 99px;
        position: absolute;
        right: -7px;
        top: -4px;
    }

    .center {
        position: absolute;
        top: 10px;
        left: 7px;
        font-family: "Red Hat Display", sans-serif;
        font-weight: 600;
        font-size: 10px;
    }


    .list-view .product h2 {
        display: none;

    }

    .list-view .text-product {
        display: none;
    }

    .list-view .star {
        display: none;
    }

    .list-view .points {
        display: none;

    }

    .list-view .heartbutton {
        display: none;
    }

    .list-view .product h3 {
        font-size: 14px;
        align-items: center;

    }



    .list-view .discount {
        display: none;
    }

    .list-view .price-4 {
        display: none;
        ;
    }

    .list-view .deal {
        display: none;
    }

    .footer-1 {

        height: 100px;
        background-color: #EDEDF0;
    }

    .footer-2 {

        height: 100px;
        background-color: #EDEDF0;
    }

    .footer-3 {

        height: 100px;
        background-color: #EDEDF0;
    }

    .footer-1 h2 {
        font-size: 12px;
        display: flex;
        justify-content: center;
        margin-top: -10px;
        font-family: "Quicksand", sans-serif;
        font-weight: 700;
    }

    .footer-2 h2 {
        font-size: 12px;
        display: flex;
        justify-content: center;
        margin-top: -10px;
        font-family: "Quicksand", sans-serif;
        font-weight: 700;
    }

    .footer-3 h2 {
        font-size: 12px;
        display: flex;
        justify-content: center;
        margin-top: -10px;
        font-family: "Quicksand", sans-serif;
        font-weight: 700;
    }

    .footer-3 p {
        font-size: 9px;
        display: flex;
        justify-content: center;
        margin-top: -10px;
        color: #5A5B6A;
        font-family: "Quicksand", sans-serif;
        font-weight: 200;
    }

    .footer-2 p {
        font-size: 9px;
        display: flex;
        justify-content: center;
        margin-top: -10px;
        color: #5A5B6A;
        font-family: "Quicksand", sans-serif;
        font-weight: 200;
    }

    .footer-1 p {
        font-size: 9px;
        display: flex;
        justify-content: center;
        margin-top: -10px;
        color: #5A5B6A;
        font-family: "Quicksand", sans-serif;
        font-weight: 200;
    }

    .img-footer {
        width: 50px;
        height: 50px;
    }



}

@media only screen and (max-width: 1450px) and (min-width:1000px) {
    header {

        padding: 10px;
    }

    header .logo h1 {
        font-size: 18px;
    }

    header .search input {
        width: 500px;
        height: 15px;
        font-size: 18px;
    }

    .search .start-image {
        width: 20px;
        height: 20px;
    }

    .search .end-image {
        width: 20px;
        height: 20px;
    }

    .search .end-image img {
        width: 20px;
        height: 20px;
    }

    .nav-button {
        width: 80px;
        height: 25px;
        border-radius: 5px;
        font-size: 12px;
        border: 1px solid #9DC2FF;
        background-color: #fff;
        font-family: "Quicksand", sans-serif;
        font-weight: 700;
        color: #2264D1;
    }

    .categories {
        display: grid;
        justify-content: center;
        font-size: 12px;
        align-items: center;
        text-align: center;
        gap: 10px;
        grid-template-columns: repeat(6, 1fr);
        padding: 20px;

    }


    .top-categories img {
        width: 20px;
        height: 20px;
    }

    .logo img {
        width: 30px;
    }

    .filter {
        display: none;
    }

    .category-list {
        display: none;
    }

    .container {
        flex-direction: column;
        padding-top: 10px;
    }

    .product-grid {
        grid-template-columns: repeat(5, 1fr);
        padding: 20px;
        justify-items: center;

    }


    .aside {
        display: none;
    }

    main {
        margin-left: 0;
    }

    .footer-content {

        margin-top: 20px;
    }

    .footer-blocks {
        width: 100%;
    }

    .show button {
        width: 90px;
        height: 40px;
        border: none;
        background-color: #EBF2FF;
        font-size: 12px;
        border-radius: 2px;
        color: #787885;
        font-family: "Inter", sans-serif;
    }

    .product {
        background-color: #fff;
        padding: 10px;
        width: 150px;
        border-radius: 5px;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        transition: box-shadow 0.3s ease, transform 0.3s ease;
        height: 270px;

    }

    .button-with-image {
        width: 90px;
        height: 40px;
        border: none;
        border-radius: 2px;
        background-color: #EBF2FF;
    }

    .button-with-image img {
        width: 30px;
        height: 30px;

    }

    .tags-style {
        display: flex;
        justify-content: center;
        padding-top: 10px;
        font-size: 9px;
        color: #787885;


    }

    .tags {
        display: grid;
        gap: 10px;
        align-items: center;
        margin: 20px;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;

    }

    .img-grid {
        width: 120px;
    }

    .star {
        width: 10px;
        height: 10px;
    }

    .product button {
        background-color: #fff;
        color: #2264d1;
        border: 1px solid #9DC2FF;
        padding-left: 20px;
        border-radius: 4px;
        cursor: pointer;
        width: 50px;

        font-size: 8px;



        font-family: "Inter", sans-serif;
        font-weight: 300;
    }

    .heartbutton .heart {
        position: absolute;
        width: 15px;
        height: 15px;
        margin-top: 14px;
    }

    .points {
        font-size: 8px;
        margin-right: 0px;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: normal;
        padding-top: 8px;
    }

    .star-img {
        display: flex;
        margin-top: 15px;
        margin-left: 0px;
    }

    .product h3 {
        font-size: 10px;
        margin-top: -6px;
        font-family: "Inter", sans-serif;
        font-weight: 300;
    }

    .product h4 {
        font-size: 13px;

        font-family: "Inter", sans-serif;
        font-weight: 600;
    }

    .tea {
        padding-top: 10px;
    }

    .vintage {
        padding-top: 20px;
    }

    .boots {
        padding-top: 20px;
    }

    .cat {
        padding-top: 20px;
    }

    .items {
        padding-top: 12px;
    }

    .text-product {
        margin-top: -6px;
        font-size: 8px;
        color: #787885;
        font-family: "Inter", sans-serif;
        font-weight: 200;
    }

    .price-4 {
        font-size: 13px;
        font-family: "Inter", sans-serif;
        font-weight: 600;
    }

    .discount {
        width: 50px;
        height: 15px;
        background-color: #ECF7ED;
        border-radius: 5px;
        font-size: 8px;
        font-family: "Inter", sans-serif;
        font-weight: 200;
        color: #37833B;
        display: flex;
        justify-content: center;
        padding-top: 5px;
    }

    .div-4 {
        margin-top: 27px;
    }

    .price-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -2px;
    }

    .related {
        display: none;
    }

    .tags-1 {
        width: 100px;
        height: 30px;
        background-color: #EDEDF0;
        border-radius: 99px;
    }

    .tags-2 {
        width: 100px;
        height: 30px;
        background-color: #EDEDF0;
        border-radius: 99px;
    }

    .tags-3 {
        width: 100px;
        height: 30px;
        background-color: #EDEDF0;
        border-radius: 99px;
    }

    .tags-4 {
        width: 100px;
        height: 30px;
        background-color: #EDEDF0;
        border-radius: 99px;
    }

    .tags-5 {
        width: 100px;
        height: 30px;
        background-color: #EDEDF0;
        border-radius: 99px;
    }

    .tags-6 {
        width: 100px;
        height: 30px;
        background-color: #EDEDF0;
        border-radius: 99px;
    }

    .nav {
        gap: 15px;
        align-items: center;
    }

    .nav img {
        width: 30px;
        height: 30px;
    }

    .div-5 {
        margin-top: 0px;
    }

    .div-4-text {
        margin-top: 22px;
    }

    .div-3 {
        margin-top: 18px;
    }

    .div-4 {
        margin-top: 17px;
    }

    .div-5-text {
        margin-top: 37px;
    }

    .pencil {
        margin-top: -12px;
    }

    .div-7 {
        margin-top: 20px;
    }

    .make-up {
        margin-top: 22px;
    }

    .price-text1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0px;
    }

    .div-8 {
        margin-top: 12px;
    }

    .deal {
        width: 50px;
        height: 15px;
        background-color: #FDEDF2;
        border-radius: 5px;
        font-size: 8px;
        font-family: "Inter", sans-serif;
        font-weight: 200;
        color: #C23564;
        display: flex;
        justify-content: center;
        padding-top: 5px;
    }

    .div-8 {
        margin-top: 20px;
    }

    .vintage {
        margin-top: 10px;
    }

    .boots {
        margin-top: 10px;
    }

    .cat {
        margin-top: 10px;
    }

    .tea {
        margin-top: -5px;
    }

    .items {
        margin-top: -5px;
    }

    .trousers {
        margin-top: -5px;
    }

    .set {
        margin-top: -5px;
    }

    .tree {
        margin-top: -5px;
    }

    .pencil {
        margin-top: -17px;
    }

    .list-view .product img {
        width: 120px;

    }

    .list-view .product {
        display: grid;

        align-items: center;
        margin-bottom: 10px;

    }



    .list-view .product h2 {
        display: none;

    }

    .list-view .text-product {
        display: none;
    }

    .list-view .star {
        display: none;
    }

    .list-view .points {
        display: none;

    }

    .list-view .heartbutton {
        display: none;
    }

    .list-view .product h3 {
        font-size: 14px;
        align-items: center;

    }

    .list-view .discount {
        display: none;
    }

    .list-view .price-4 {
        display: none;
        ;
    }

    .list-view .deal {
        display: none;
    }

    .footer-1 {
        width: 300px;
        height: 100px;
        background-color: #EDEDF0;
    }

    .footer-2 {
        width: 300px;
        height: 100px;
        background-color: #EDEDF0;
    }

    .footer-3 {
        width: 300px;
        height: 100px;
        background-color: #EDEDF0;
    }

    .footer-1 h2 {
        font-size: 12px;
        display: flex;
        justify-content: center;
        margin-top: -10px;
        font-family: "Quicksand", sans-serif;
        font-weight: 700;
    }

    .footer-2 h2 {
        font-size: 12px;
        display: flex;
        justify-content: center;
        margin-top: -10px;
        font-family: "Quicksand", sans-serif;
        font-weight: 700;
    }

    .footer-3 h2 {
        font-size: 12px;
        display: flex;
        justify-content: center;
        margin-top: -10px;
        font-family: "Quicksand", sans-serif;
        font-weight: 700;
    }

    .footer-3 p {
        font-size: 9px;
        display: flex;
        justify-content: center;
        margin-top: -10px;
        color: #5A5B6A;
        font-family: "Quicksand", sans-serif;
        font-weight: 200;
    }

    .footer-2 p {
        font-size: 9px;
        display: flex;
        justify-content: center;
        margin-top: -10px;
        color: #5A5B6A;
        font-family: "Quicksand", sans-serif;
        font-weight: 200;
    }

    .footer-1 p {
        font-size: 9px;
        display: flex;
        justify-content: center;
        margin-top: -10px;
        color: #5A5B6A;
        font-family: "Quicksand", sans-serif;
        font-weight: 200;
    }

    .img-footer {
        width: 50px;
        height: 50px;
    }

    .center {
        position: absolute;
        top: 10px;
        left: 7px;
        font-family: "Red Hat Display", sans-serif;
        font-weight: 600;
        font-size: 10px;
    }


}



@media only screen and (max-width: 999px) and (min-width:700px) {
    header {

        padding: 10px;
    }

    header .logo h1 {
        font-size: 18px;
    }

    header .search input {
        width: 200px;
        height: 15px;
        font-size: 18px;


    }



    .search .end-image {

        width: 20px;
        height: 20px;

    }

    .search .end-image img {

        width: 20px;
        height: 20px;
    }


    .search .start-image {
        width: 20px;
        height: 20px;
    }

    .nav-button {
        width: 80px;
        height: 25px;
        border-radius: 5px;
        font-size: 12px;
        border: 1px solid #9DC2FF;
        background-color: #fff;
        font-family: "Quicksand", sans-serif;
        font-weight: 700;
        color: #2264D1;

    }


    .categories {
        display: grid;
        justify-content: center;
        font-size: 12px;
        align-items: center;
        text-align: center;
        gap: 10px;
        grid-template-columns: repeat(4, 1fr);
        padding: 5px;
    }

    .top-categories img {
        width: 20px;
        height: 20px;
    }

    .logo img {
        width: 30px;
    }

    .filter {
        display: none;
    }

    .category-list {
        display: none;
    }

    main {
        margin-left: 0;
    }

    .container {
        flex-direction: column;
        padding-top: 10px;
    }

    .product-grid {
        grid-template-columns: repeat(4, 1fr);
        padding: 20px;
        justify-items: center;

    }


    .aside {
        display: none;
    }



    .footer-content {

        margin-top: 20px;
    }

    .footer-blocks {
        width: 100%;
    }

    .show button {
        width: 90px;
        height: 40px;
        border: none;
        background-color: #EBF2FF;
        font-size: 12px;
        border-radius: 2px;
        color: #787885;
        font-family: "Inter", sans-serif;
    }

    .product {
        background-color: #fff;
        padding: 10px;
        width: 150px;
        border-radius: 5px;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        transition: box-shadow 0.3s ease, transform 0.3s ease;
        height: 270px;

    }

    .button-with-image {
        width: 90px;
        height: 40px;
        border: none;
        border-radius: 2px;
        background-color: #EBF2FF;
    }

    .button-with-image img {
        width: 30px;
        height: 30px;

    }

    .tags-style {
        display: flex;
        justify-content: center;
        padding-top: 10px;
        font-size: 9px;
        color: #787885;


    }

    .tags {
        display: grid;
        gap: 10px;
        align-items: center;
        margin: 20px;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;

    }

    .img-grid {
        width: 120px;
    }

    .star {
        width: 10px;
        height: 10px;
    }

    .product button {
        background-color: #fff;
        color: #2264d1;
        border: 1px solid #9DC2FF;
        padding-left: 20px;
        border-radius: 4px;
        cursor: pointer;
        width: 50px;

        font-size: 8px;



        font-family: "Inter", sans-serif;
        font-weight: 300;
    }

    .heartbutton .heart {
        position: absolute;
        width: 15px;
        height: 15px;
        margin-top: 14px;
    }

    .points {
        font-size: 8px;
        margin-right: 0px;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: normal;
        padding-top: 8px;
    }

    .star-img {
        display: flex;
        margin-top: 15px;
        margin-left: 0px;
    }

    .product h3 {
        font-size: 10px;
        margin-top: -6px;
        font-family: "Inter", sans-serif;
        font-weight: 300;
    }

    .product h4 {
        font-size: 13px;

        font-family: "Inter", sans-serif;
        font-weight: 600;
    }

    .tea {
        padding-top: 12px;
    }

    .vintage {
        padding-top: 20px;
    }

    .boots {
        padding-top: 25px;
    }

    .cat {
        padding-top: 25px;
    }

    .items {
        padding-top: 12px;
    }


    .text-product {
        margin-top: -6px;
        font-size: 8px;
        color: #787885;
        font-family: "Inter", sans-serif;
        font-weight: 200;
    }

    .price-4 {
        font-size: 13px;
        font-family: "Inter", sans-serif;
        font-weight: 600;
    }

    .discount {
        width: 50px;
        height: 15px;
        background-color: #ECF7ED;
        border-radius: 5px;
        font-size: 8px;
        font-family: "Inter", sans-serif;
        font-weight: 200;
        color: #37833B;
        display: flex;
        justify-content: center;
        padding-top: 5px;
    }

    .div-4 {
        margin-top: 27px;
    }

    .price-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -2px;
    }

    .related {
        display: none;
    }

    .tags-1 {
        width: 100px;
        height: 30px;
        background-color: #EDEDF0;
        border-radius: 99px;
    }

    .tags-2 {
        width: 100px;
        height: 30px;
        background-color: #EDEDF0;
        border-radius: 99px;
    }

    .tags-3 {
        width: 100px;
        height: 30px;
        background-color: #EDEDF0;
        border-radius: 99px;
    }

    .tags-4 {
        width: 100px;
        height: 30px;
        background-color: #EDEDF0;
        border-radius: 99px;
    }

    .tags-5 {
        width: 100px;
        height: 30px;
        background-color: #EDEDF0;
        border-radius: 99px;
    }

    .tags-6 {
        width: 100px;
        height: 30px;
        background-color: #EDEDF0;
        border-radius: 99px;
    }

    .nav {
        gap: 15px;
        align-items: center;
    }

    .nav img {
        width: 30px;
        height: 30px;
    }

    .div-5 {
        margin-top: 0px;
    }

    .div-4-text {
        margin-top: 22px;
    }

    .div-3 {
        margin-top: 18px;
    }

    .div-4 {
        margin-top: 17px;
    }

    .div-5-text {
        margin-top: 37px;
    }

    .pencil {
        margin-top: -12px;
    }

    .div-7 {
        margin-top: 20px;
    }

    .make-up {
        margin-top: 22px;
    }

    .price-text1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0px;
    }

    .div-8 {
        margin-top: 12px;
    }

    .deal {
        width: 50px;
        height: 15px;
        background-color: #FDEDF2;
        border-radius: 5px;
        font-size: 8px;
        font-family: "Inter", sans-serif;
        font-weight: 200;
        color: #C23564;
        display: flex;
        justify-content: center;
        padding-top: 5px;
    }

    .div-8 {
        margin-top: 20px;
    }

    .vintage {
        margin-top: 0px;
    }

    .boots {
        margin-top: -5px;
    }

    .cat {
        margin-top: -5px;
    }

    .tea {
        margin-top: -5px;
    }

    .items {
        margin-top: -5px;
    }

    .trousers {
        margin-top: -5px;
    }

    .pencil {
        margin-top: -18px;
    }

    .set {
        margin-top: -5px;
    }

    .tree {
        margin-top: -5px;
    }

    .make-up {
        margin-top: 20px;
    }

    .list-view .product img {
        width: 120px;

    }

    .list-view .product {
        display: grid;

        align-items: center;
        margin-bottom: 10px;

    }



    .list-view .product h2 {
        display: none;

    }

    .list-view .text-product {
        display: none;
    }

    .list-view .star {
        display: none;
    }

    .list-view .points {
        display: none;

    }

    .list-view .heartbutton {
        display: none;
    }

    .list-view .product h3 {
        font-size: 14px;
        align-items: center;

    }

    .list-view .discount {
        display: none;
    }

    .list-view .price-4 {
        display: none;
        ;
    }

    .list-view .deal {
        display: none;
    }

    .footer-1 {
        width: 300px;
        height: 100px;
        background-color: #EDEDF0;
    }

    .footer-2 {
        width: 300px;
        height: 100px;
        background-color: #EDEDF0;
    }

    .footer-3 {
        width: 300px;
        height: 100px;
        background-color: #EDEDF0;
    }

    .footer-1 h2 {
        font-size: 12px;
        display: flex;
        justify-content: center;
        margin-top: -10px;
        font-family: "Quicksand", sans-serif;
        font-weight: 700;
    }

    .footer-2 h2 {
        font-size: 12px;
        display: flex;
        justify-content: center;
        margin-top: -10px;
        font-family: "Quicksand", sans-serif;
        font-weight: 700;
    }

    .footer-3 h2 {
        font-size: 12px;
        display: flex;
        justify-content: center;
        margin-top: -10px;
        font-family: "Quicksand", sans-serif;
        font-weight: 700;
    }

    .footer-3 p {
        font-size: 9px;
        display: flex;
        justify-content: center;
        margin-top: -10px;
        color: #5A5B6A;
        font-family: "Quicksand", sans-serif;
        font-weight: 200;
    }

    .footer-2 p {
        font-size: 9px;
        display: flex;
        justify-content: center;
        margin-top: -10px;
        color: #5A5B6A;
        font-family: "Quicksand", sans-serif;
        font-weight: 200;
    }

    .footer-1 p {
        font-size: 9px;
        display: flex;
        justify-content: center;
        margin-top: -10px;
        color: #5A5B6A;
        font-family: "Quicksand", sans-serif;
        font-weight: 200;
    }

    .img-footer {
        width: 50px;
        height: 50px;
    }

    .notification {
        width: 14px;
        height: 14px;
        font-size: 12px;
        color: #fff;
        background-color: #F44336;
        border-radius: 99px;
        position: absolute;
        right: -7px;
        top: -4px;
    }

    .center {
        position: absolute;
        top: 10px;
        left: 7px;
        font-family: "Red Hat Display", sans-serif;
        font-weight: 600;
        font-size: 10px;
    }



}